<div class="container">
    <h1>Tell Me your Favorite Burger</h1>

    <div class="row-1">
        <div class="to-eat">
            <h2>Burgers to Eat</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <p>{{this.burger_name}} <button class="devour" value={{this.id}}>Eat Me</button></p>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="create burger">
            <h2>What your favorite Burger?</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="burger">Burger Name:</label>
                    <input type="text" id="burger" name="name">
                </div>

                <button id="create">Add Name Of Burger </button>
            </form>
        </div>

        <div class="eaten-burgers">
            <h2>Amazing Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    <p>{{this.burger_name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>